{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="alert alert-success" role="alert">
            {% if has_winner %}
                <strong>Congratulations, </strong>{{ listing.current_bid.user }} has won the auction for {{ listing.current_bid.price }}!
            {% else %}
                This auction has been closed with no winners.
            {% endif %}
        </div>
        
        <h2>{{ listing.title }} {% if watched %}<img src="https://cdn.pixabay.com/photo/2017/09/23/16/33/pixel-heart-2779422_1280.png" height="28em">{% endif %}</h2>
        <p><em>{{ listing.category }}</em></p>

        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-6 col-md-4">
                <img src="{{ listing.image_url }}" width="100%">
            </div>
            <div class="col-12 col-md-8">
                <p>{{ listing.description }}</p>

                <p><strong>Starting bid</strong> [{{ listing.starting_bid.timestamp }}]: {{ listing.starting_bid.price }} by {{ listing.starting_bid.user }}</p>

                <p><strong>Current bid</strong> [{{ listing.current_bid.timestamp }}]: {{ listing.current_bid.price }} by {{ listing.current_bid.user }}</p>
            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-12">
                <h2>Comments</h2>
                {% if listing.comments %}
                    {% for comment in listing.comments %}
                        <p>[{{ comment.timestamp }}] {{ comment.user }}: {{ comment.message }}</p>
                    {% endfor %}
                {% else %}
                    <p>No comments.</p>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-3">
                {% if messages %}
                    {% for message in messages %}
                        <p class="{{ message.tags }} alert alert-warning" role="alert"><strong>{{ message }}</strong></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-12 col-md-8">
                <h2>Bid History</h2>
                {% for bid in listing.bids %}
                    <p>[{{ bid.timestamp }}]: {{ bid.price }} by {{ bid.user }}</p>
                {% endfor %}
            </div>
        </div>



    </div>
    
{% endblock %}