{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Create a New Listing</h2> 
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <form action="{% url 'create' %}" method="POST">
                    {% csrf_token %}
                    <!-- title, description, image_url, category, starting_bid-->
                    <input type="text" name="title" maxlength="64" placeholder="Title">
            
                    <textarea name="description" rows="4" cols="50" style="box-sizing: border-box; width: 100%;" placeholder="Please write a description for your item"></textarea>
            
                    <input type="text" style="box-sizing: border-box; width: 30%;"  name="image_url" placeholder="Image URL of item">
            
                    <input type="text" style="box-sizing: border-box; width: 30%;"  name="category" maxlength="64" placeholder="Name a category">

                    <label for="starting_bid">Starting Bid Price:</label>
                    <input type="number" id="starting_bid" name="starting_bid" min="0" step=".01">
            
                    <input type="submit" class="btn btn-primary" value="Create">                        
                </form>
            </div>
        </div>
    </div>
    


{% endblock %}