{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2>{{ listing.title }} {% if watched %}<img src="https://cdn.pixabay.com/photo/2017/09/23/16/33/pixel-heart-2779422_1280.png" height="28em">{% endif %}</h2>
        <p><em>{{ listing.category }}</em></p>

        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-6 col-md-4">
                <img src="{{ listing.image_url }}" width="100%">
            </div>
            <div class="col-12 col-md-8">
                <p>{{ listing.description }}</p>

                <p><strong>Starting bid</strong> [{{ listing.starting_bid.timestamp }}]: {{ listing.starting_bid.price }} by {{ listing.starting_bid.user }}</p>

                <p><strong>Current bid</strong> [{{ listing.current_bid.timestamp }}]: {{ listing.current_bid.price }} by {{ listing.current_bid.user }}</p>
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            {% if user.is_authenticated %}
                <div class="col-12 col-md-3">
                    <form action="{% url 'add_watchlist'%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        {% if watched %}
                            <input type="submit" value="Remove from Watchlist">
                        {% else %}
                            <input type="submit" value="Add to Watchlist">
                        {% endif %}
                    </form>                
                </div>

                {% if is_owner %}
                    <div class="col-12 col-md-3">
                        <form action="{% url 'close_auction'%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <input type="submit" value="Close the Auction">
                        </form>
                    </div>
                {% else %}
                    <div class="col-12 col-md-3">
                        <form action="{% url 'make_bid'%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <label for="new_bid">$</label>
                            <input type="number" id="new_bid" name="new_bid" min="0" step=".01">
                            <input type="submit" value="Bid">
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-12 col-md-3">
                {% if messages %}
                    {% for message in messages %}
                        <p class="{{ message.tags }} alert alert-warning" role="alert"><strong>{{ message }}</strong></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-12">
                <h2>Comments</h2>
                {% if listing.comments %}
                    {% for comment in listing.comments %}
                        <p>[{{ comment.timestamp }}] {{ comment.user }}: {{ comment.message }}</p>
                    {% endfor %}
                {% else %}
                    <p>No comments.</p>
                {% endif %}

                {% if user.is_authenticated %}
                    <form action="{% url 'add_comment' %}" method="POST">
                        {% csrf_token %}
                        <textarea name="new_comment" rows="4" cols="80" style="box-sizing: border-box; width: 100%;" placeholder="Add a new comment here."></textarea>
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <input type="hidden" name="user" value="{{ user }}">
                        <input type="submit" value="Post">
                    </form>
                {% endif %}

            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-12 col-md-8">
                <h2>Bid History</h2>
                {% for bid in listing.bids %}
                    <p>[{{ bid.timestamp }}]: {{ bid.price }} by {{ bid.user }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}